In [27]:
import pandas as pd
import numpy as np
import datetime

In [28]:
h_tran_path = "../data/historical_transactions.csv"
n_tran_path = "../data/new_merchant_transactions.csv"

nrow = 2000

In [29]:
def binerizer(df):
    for col in ['authorized_flag', 'category_1']:
        df[col] = df[col].map({'Y':1,'N':0})
    return df

In [30]:
new_transactions = pd.read_csv(n_tran_path, nrows = nrow, parse_dates=['purchase_date'])
historical_transactions = pd.read_csv(h_tran_path, nrows=nrow, parse_dates=['purchase_date'])

In [31]:
new_transactions = binerizer(new_transactions)
historical_transactions = binerizer(historical_transactions)

In [32]:
def read_data(path,read_rows = None):
    df = pd.read_csv(path,nrows=read_rows)
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['elapse'] = (datetime.date(2018,2,1) - df['first_active_month'].dt.date).dt.days
    
    return df

In [33]:
train_path = "../data/train.csv"
test_path = "../data/test.csv"

train = read_data(train_path)
test = read_data(test_path)

In [34]:
target = train['target']
del target

In [35]:
historical_transactions['month_diff'] = ((datetime.datetime.today() - historical_transactions['purchase_date']).dt.days)//30
new_transactions['month_diff'] = ((datetime.datetime.today() - new_transactions['purchase_date']).dt.days)//30

historical_transactions.head(5)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,month_diff
0,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37,18
1,1,C_ID_4e6213e9bc,88,0,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16,18
2,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37,17
3,1,C_ID_4e6213e9bc,88,0,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34,16
4,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37,22

In [41]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [37]:
historical_transactions = pd.get_dummies(historical_transactions,columns=['category_2','category_3'])
new_transactions = pd.get_dummies(new_transactions,columns=['category_2','category_3'])

In [42]:
historical_transactions = reduce_mem_usage(historical_transactions)
new_transactions = reduce_mem_usage(new_transactions)

Mem. usage decreased to  0.09 Mb (31.7% reduction)
Mem. usage decreased to  0.09 Mb (59.8% reduction)

In [43]:
agg_fun = {'authorized_flag':['mean']}

auth_mean = historical_transactions.groupby(['card_id']).agg(agg_fun)
auth_mean.columns = ['_'.join(col).strip() for col in auth_mean.columns.values]
auth_mean.reset_index(inplace=True)

In [44]:
authorized_transactions = historical_transactions[historical_transactions['authorized_flag'] == 1]
historical_transactions = historical_transactions[historical_transactions['authorized_flag'] == 0]

In [45]:
authorized_transactions['purchase_month'] = authorized_transactions['purchase_date'].dt.month
historical_transactions['purchase_month'] = historical_transactions['purchase_date'].dt.month
new_transactions['purchase_month'] = new_transactions['purchase_date'].dt.month

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
historical_transactions.columns

Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'merchant_category_id', 'merchant_id', 'month_lag', 'purchase_amount',
       'purchase_date', 'state_id', 'subsector_id', 'month_diff',
       'category_2_1.0', 'category_2_2.0', 'category_2_3.0', 'category_2_4.0',
       'category_2_5.0', 'category_3_A', 'category_3_B', 'category_3_C',
       'purchase_month'],
      dtype='object')

In [51]:
def aggregate_transaction(history):
    history.loc[:,'purchase_date'] = pd.DatetimeIndex(history['purchase_date']).astype(np.int64) * 1e-9
    
    agg_func = {
        'category_1':['sum','mean'],
        'category_2_1.0':['mean'],
        'category_2_2.0':['mean'],
        'category_2_3.0':['mean'],
        'category_2_4.0':['mean'],
        'category_2_5.0':['mean'],
        'category_3_A':['mean'],
        'category_3_B':['mean'],
        'category_3_C':['mean'],
        'merchant_category_id':['nunique'],
        'merchant_id':['nunique'],
        'state_id':['nunique'],
        'city_id':['nunique'],
        'subsector_id':['nunique'],
        'purchase_amount':['sum','mean','max','min','std'],
        'installments':['sum','mean','max','min','std'],
        'purchase_month':['mean','max','min','std'],
        'purchase_date':[np.ptp,'min','max'],
        'month_lag':['mean','max','min','std'],
        'month_diff':['mean']
    }
    
    agg_hist = history.groupby(['card_id']).agg(agg_func)
    agg_hist.columns = ['_'.join(col).strip() for col in agg_hist.columns.values]
    agg_hist.reset_index(inplace=True)
    
    df = (history.groupby(['card_id'])
          .size()
          .reset_index(name='transaction_count'))
    agg_hist = pd.merge(df,agg_hist,on=['card_id'],how='left')
    
    return agg_hist

In [52]:
history = aggregate_transaction(historical_transactions)
history.head(3)

,card_id,transaction_count,category_1_sum,category_1_mean,category_2_1.0_mean,category_2_2.0_mean,category_2_3.0_mean,category_2_4.0_mean,category_2_5.0_mean,category_3_A_mean,...,purchase_month_min,purchase_month_std,purchase_date_ptp,purchase_date_min,purchase_date_max,month_lag_mean,month_lag_max,month_lag_min,month_lag_std,month_diff_mean
0,C_ID_0e171c1b48,18,0,0.0,0.000000,0.0,0.000000,1.0,0,0.833333,...,1,3.345566,0.029298,1.488016,1.517314,-7.277778,-1,-12,3.722832,18.000000
1,C_ID_3fff3df454,23,0,0.0,0.130435,0.0,0.869565,0.0,0,0.695652,...,2,3.894863,0.032675,1.486228,1.518903,-5.913043,0,-12,4.176918,16.652174
2,C_ID_48fb13e70f,1,1,1.0,0.000000,0.0,0.000000,0.0,0,0.000000,...,12,NaN,0.000000,1.513802,1.513802,-2.000000,-2,-2,NaN,13.000000

In [54]:
history.columns = ['hist_' + c if c != 'card_id' else c for c in history.columns]
history.head(3)

,card_id,hist_transaction_count,hist_category_1_sum,hist_category_1_mean,hist_category_2_1.0_mean,hist_category_2_2.0_mean,hist_category_2_3.0_mean,hist_category_2_4.0_mean,hist_category_2_5.0_mean,hist_category_3_A_mean,...,hist_purchase_month_min,hist_purchase_month_std,hist_purchase_date_ptp,hist_purchase_date_min,hist_purchase_date_max,hist_month_lag_mean,hist_month_lag_max,hist_month_lag_min,hist_month_lag_std,hist_month_diff_mean
0,C_ID_0e171c1b48,18,0,0.0,0.000000,0.0,0.000000,1.0,0,0.833333,...,1,3.345566,0.029298,1.488016,1.517314,-7.277778,-1,-12,3.722832,18.000000
1,C_ID_3fff3df454,23,0,0.0,0.130435,0.0,0.869565,0.0,0,0.695652,...,2,3.894863,0.032675,1.486228,1.518903,-5.913043,0,-12,4.176918,16.652174
2,C_ID_48fb13e70f,1,1,1.0,0.000000,0.0,0.000000,0.0,0,0.000000,...,12,NaN,0.000000,1.513802,1.513802,-2.000000,-2,-2,NaN,13.000000

In [56]:
authorize = aggregate_transaction(authorized_transactions)
authorize.columns = ['hist_'+ c if c!='card_id' else c for c in authorize.columns]

authorize.head(3)

,card_id,hist_transaction_count,hist_category_1_sum,hist_category_1_mean,hist_category_2_1.0_mean,hist_category_2_2.0_mean,hist_category_2_3.0_mean,hist_category_2_4.0_mean,hist_category_2_5.0_mean,hist_category_3_A_mean,...,hist_purchase_month_min,hist_purchase_month_std,hist_purchase_date_ptp,hist_purchase_date_min,hist_purchase_date_max,hist_month_lag_mean,hist_month_lag_max,hist_month_lag_min,hist_month_lag_std,hist_month_diff_mean
0,C_ID_0e171c1b48,261,0,0.000000,0.084291,0.000000,0.072797,0.842912,0.000000,1,...,1,3.369980,31723773.0,1.488016e+09,1.519739e+09,-5.436782,0,-12,3.428504,16.176245
1,C_ID_3fff3df454,314,0,0.000000,0.095541,0.003185,0.843949,0.000000,0.006369,1,...,1,4.216892,35859500.0,1.483986e+09,1.519845e+09,-4.649682,0,-13,3.839206,15.388535
2,C_ID_48fb13e70f,79,4,0.050633,0.949367,0.000000,0.000000,0.000000,0.000000,0,...,1,3.189412,23035552.0,1.496343e+09,1.519379e+09,-4.658228,0,-8,2.854982,15.430380

In [57]:
new = aggregate_transaction(new_transactions)
new.columns = ['new_' + c if c!='card_id' else c for c in new.columns]

new.head(3)

,card_id,new_transaction_count,new_category_1_sum,new_category_1_mean,new_category_2_1.0_mean,new_category_2_2.0_mean,new_category_2_3.0_mean,new_category_2_4.0_mean,new_category_2_5.0_mean,new_category_3_A_mean,...,new_purchase_month_min,new_purchase_month_std,new_purchase_date_ptp,new_purchase_date_min,new_purchase_date_max,new_month_lag_mean,new_month_lag_max,new_month_lag_min,new_month_lag_std,new_month_diff_mean
0,C_ID_01dc6f675a,12,0,0.0,0.000000,0.0,1.000,0.0,0.000000,1.0,...,3,0.514929,4698368.0,1.520238e+09,1.524936e+09,1.583333,2,1,0.514929,9.333333
1,C_ID_0339c7acac,7,0,0.0,0.142857,0.0,0.000,0.0,0.857143,1.0,...,3,0.487950,2859966.0,1.521810e+09,1.524670e+09,1.714286,2,1,0.487950,8.857143
2,C_ID_044d27650c,8,0,0.0,0.125000,0.0,0.875,0.0,0.000000,0.0,...,1,0.517549,1749968.0,1.517057e+09,1.518807e+09,1.625000,2,1,0.517549,11.000000